$material-design-icons-font-directory-path: "material-design-icons-iconfont/dist/fonts/";
@import "material-design-icons-iconfont/src/material-design-icons";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	width: 100%;
	height: 100%;
	background-color: white;
}

body {
	width: 100%;
	height: 100%;
}

.transparent {
	background-position: 0px 0px, 10px 10px;
	background-size: 20px 20px;
	background-image: -webkit-linear-gradient(45deg, #ededed 25%, transparent 25%, transparent 75%, #ededed 75%, #ededed 100%),
		-webkit-linear-gradient(45deg, #ededed 25%, white 25%, white 75%, #ededed 75%, #ededed 100%);
	background-image: linear-gradient(45deg, #ededed 25%, transparent 25%, transparent 75%, #ededed 75%, #ededed 100%),
		linear-gradient(45deg, #ededed 25%, white 25%, white 75%, #ededed 75%, #ededed 100%);
}

.pointer {
	cursor: pointer;
}

.hidden-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;
}
.hidden-scrollbar::-webkit-scrollbar {
	display: none;
}

// for material-icons
.material-icons.inline {
	vertical-align: top;
}
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-60 { font-size: 60px; }
.material-icons.md-120 { font-size: 120px; }
